In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
df=pd.read_csv('heart.csv')
df

In [ ]:
df.columns
df=df.drop('Unnamed: 0',axis=1)
df['AHD']=df['AHD'].replace({"Yes":1,"No":0})

In [ ]:
print(df['Ca'])
num=df['Ca']
df = pd.DataFrame(num)
df = df.dropna()
df

In [ ]:
import sqlite3
db=sqlite3.connect("company_database1.db")
c=db.cursor()
c.execute('create table company1(id int,name text, age int,addr text,salary real)')

c.execute("insert into company1 values(21,'sdd',42,'gv7',80000)")
c.execute("insert into company1 values(1,'sgd',41,'pune',85000)")
c.execute("insert into company1 values(2,'htfd',23,'sangli',83000)")
c.execute("insert into company1 values(3,'hhd',27,'mumbai',100000)")
c.execute("insert into company1 values(4,'dfgf',28,'ashta',18000)")
c.execute("insert into company1 values(5,'bb',32,'blore',90000)")
c.execute("insert into company1 values(6,'nnsdd',40,'usa',89000)")
c.execute("insert into company1 values(8,'mmsdd',30,'vg7',88000)")
c.execute("insert into company1 values(9,'vvsdd',40,'dfdgv7',150000)")

In [ ]:
data=c.execute('select * from company1')
for i in data:
    print(i)

In [ ]:
db.commit()